# Nextjs site conriguration
NEXT_PUBLIC_SITE_URL=thesitename.domain

# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-publishable-key
SUPABASE_SERVICE_ROLE_KEY=your-secret-api-key
NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL=http://localhost:3000
# Local development database URL
SUPABASE_DB_URL=postgres://postgres:postgres@localhost:54322/postgres

# resend api key
RESEND_API_KEY=resend-api-key

# The verified domain email from your Resend dashboard
EMAIL_FROM_ADDRESS=sending-email-address@exmaple.com

# The email to receive support queries
SUPPORT_EMAIL_ADDRESS=your-support-email@example.com
